<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @tech.question %>
</p>

<p>
  <strong>Option1:</strong>
  <%= @tech.option1 %>
</p>

<p>
  <strong>Option2:</strong>
  <%= @tech.option2 %>
</p>

<p>
  <strong>Option3:</strong>
  <%= @tech.option3 %>
</p>

<p>
  <strong>Option4:</strong>
  <%= @tech.option4 %>
</p>

<p>
  <strong>Ans:</strong>
  <%= @tech.ans %>
</p>

<%= link_to 'Edit', edit_tech_path(@tech) %> |
<%= link_to 'Back', teches_path %>
