<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @sport.question %>
</p>

<p>
  <strong>Option1:</strong>
  <%= @sport.option1 %>
</p>

<p>
  <strong>Option2:</strong>
  <%= @sport.option2 %>
</p>

<p>
  <strong>Option3:</strong>
  <%= @sport.option3 %>
</p>

<p>
  <strong>Option4:</strong>
  <%= @sport.option4 %>
</p>

<p>
  <strong>Ans:</strong>
  <%= @sport.ans %>
</p>

<%= link_to 'Edit', edit_sport_path(@sport) %> |
<%= link_to 'Back', sports_path %>
